body {
	font-family: sans-serif;
  }
  
  .container {
	margin: 0 auto;
	padding: 24px;
	border-radius: 16px;
	background-color: #f8f8f8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
  }
  
  h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 16px;
  }
  
  h2 {
	font-size: 18px;
	margin-bottom: 12px;
  }
  
  .player-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
  }
  
  .player-table th,
  .player-table td {
	border: 1px solid #ccc;
	padding: 0.5rem;
	text-align: left;
  }
  
  .player-table th {
	background-color: #f2f2f2;
  }
  
  .player-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
  }
  
  .player-table tbody tr:hover {
	background-color: #eaeaea;
  }
  
  .pagination {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .pagination button {
	margin: 0.25rem;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	background-color: #eee;
  }
  
  .pagination span {
	margin: 0.25rem;
  }
  
  .pagination button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
  }
  
  .table-container {
	height: 400px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
	border-radius: 16px;
  }
  
  .table-container::-webkit-scrollbar {
	width: 8px;
  }
  
  .table-container::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
  }
  
  .table-container::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
  }
  